/*Cor da fonte*/

body {
	font-family: 'Open Sans', sans-serif;
	color: black;
	padding: 0;
	margin: 0;
	background-color: #f5f5f5;
	overflow-x: hidden;
}

h1 {
	color: #fff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

nav {
	height: 40px;
	width: 780px;
	display: block;
	text-align: center;
}

nav a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	display: block;
}

nav a:hover {
	background-color: #706e68;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
	width: 140px;
	height: 40px;
	line-height: 40px;
	/* background-color: #42413c; */
}

.navigationDesktop {
	margin-left: -15px;
	margin-right: -15px;
}

/*Subitens*/

nav ul ul li {
	position: relative;
	display: none;
}

nav ul li:hover ul li {
	display: block;
	background: #2b303b;
}

/*Subsubitens*/

nav ul ul ul {
	display: none;
}

nav ul ul li:hover ul {
	display: block;
	position: absolute;
	width: 140px;
	left: 140px;
	top: 0px;
}

/*Form*/

.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

input[type=text],
select,
textarea {
	width: 100%;
	resize: vertical;
}

.env {
	position: relative;
	margin: auto;
	top: 20px;
	width: 40%;
	border: 3px solid green;
	padding: 10px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

@media screen and (max-width: 600px) {
	.linha2,
	.linha,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

/* todo */

.header {
	background-color: #2b303b;
}

.titleBar {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	width: 1140px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 32px;
}

.header .container {
	padding-bottom: 0;
}

.bg-white {
	background-color: #fff;
}

fieldset {
	border: 0;
}

fieldset legend {
	font-size: 24px;
	font-weight: bold;
	display: block;
	margin: 24px 0;
	width: 100%;
	float: left;
}

fieldset input {
	display: block;
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	font-family: Arial,sans-serif;
	color: #2c2c2c;
	outline: 0;
	line-height: normal;
	font-size: 14px;
	height: 36px;
	min-height: 36px;
	padding: 4px 8px;
	background: 0 0;
	margin-top: 2px;
}

fieldset label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

fieldset .inline input {
	display: inline-block;
	width: auto;
}

fieldset .inline span {
	vertical-align: middle;
}

.hamburger {
	display: none;
}

.button {
	width: auto;
	color: #fff;
	background-color: #48b0f7;
	border-color: #48b0f7;
	min-width: 120px;
	font-family: Arial,sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	line-height: 21px;
	position: relative;
	padding: 6px 17px;
	margin: 0 auto;
}

.button:hover,
.button:focus {
	background-color: #5ebaf8;
	border-color: #5ebaf8;
}

.threeFields,
.twoFields {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
}

.twoCheckboxes {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: row wrap;
}

.twoFields > div {
	width: calc(50% - 8px);
}

.threeFields > div {
	width: calc(33.33333% - 8px);
}

.threeFields
.twoFields {
	flex: 0 0 auto;
}

.m-t-16 {
	margin-top: 16px;
}

.m-r-16 {
	margin-right: 16px;
}

.navigationDesktop.isOpen {
	display: block;
}

.hamburger.isActive .line:nth-child(1){
	-webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  -o-transform: translateY(7px);
  transform: translateY(7px);
}

.hamburger.isActive .line:nth-child(3){
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  -o-transform: translateY(-7px);
  transform: translateY(-7px);
}

.hamburger .line {
	width: 26px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}

@media screen and (max-width: 795px) {
	.navigationDesktop {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}

	.header .container {
		padding-left: 0;
		padding-right: 0;
	}

	.header .titleBar {
		padding-left: 10px;
		padding-right: 10px;
	}

	.twoFields > div,
	.threeFields > div {
		width: 100%;
	}

	fieldset legend {
		text-align: center;
		width: 100%;
	}

	nav ul li {
		width: 100%;
	}

	nav {
		height: auto;
		background-color: #2b303b;
		float: left;
		width: 100%;
	}

	nav ul li {
		height: auto;
	}

	nav > ul > li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	}

	nav ul {
		float: left;
		width: 100%;
	}

	nav ul li:hover ul li {
		background: #252a36;
	}

	nav ul li:hover ul li:hover ul li {
		background: #1b1e27;
	}

	nav ul ul li:hover ul {
		position: static;
		width: 100%;
	}

	.navigationDesktop {
		float: left;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.header .titleBar,
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
}